![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [88]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

### As a consultant working for a real estate start-up, you have collected Airbnb listing data from various sources to investigate the short-term rental market in New York. You'll analyze this data to provide insights on private rooms to the real estate company.

#### There are three files in the data folder: `airbnb_price.csv`, `airbnb_room_type.xlsx`, `airbnb_last_review.tsv`.

**Load the data first.**

In [89]:
# load the datasets
# csv
airbnb_price = pd.read_csv('data/airbnb_price.csv', index_col = 0)

# tsv
airbnb_last_review = pd.read_csv('data/airbnb_last_review.tsv', sep = '\t', index_col = 0)

In [90]:
# view prices
airbnb_price.head()

                  price                nbhood_full
listing_id
2595        225 dollars         Manhattan, Midtown
3831         89 dollars     Brooklyn, Clinton Hill
5099        200 dollars     Manhattan, Murray Hill
5178         79 dollars  Manhattan, Hell's Kitchen
5238        150 dollars       Manhattan, Chinatown

In [91]:
# view reviews 
airbnb_last_review.head()

              host_name   last_review
listing_id
2595           Jennifer   May 21 2019
3831        LisaRoxanne  July 05 2019
5099              Chris  June 22 2019
5178           Shunichi  June 24 2019
5238                Ben  June 09 2019

In [92]:
# load the excel file
file = pd.ExcelFile('data/airbnb_room_type.xlsx')
print(file.sheet_names)

# load dataset
airbnb_room_type = file.parse(0).set_index('listing_id')
airbnb_room_type.head()

['airbnb_room_type']

                                          description        room_type
listing_id
2595                            Skylit Midtown Castle  Entire home/apt
3831                  Cozy Entire Floor of Brownstone  Entire home/apt
5099        Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
5178                  Large Furnished Room Near B'way     private room
5238               Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

**Q1. What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.**

In [93]:
# view reviews
airbnb_last_review.head()

              host_name   last_review
listing_id
2595           Jennifer   May 21 2019
3831        LisaRoxanne  July 05 2019
5099              Chris  June 22 2019
5178           Shunichi  June 24 2019
5238                Ben  June 09 2019

In [94]:
# convert last review col to datetime format and order 
last_review = airbnb_last_review.copy()
last_review['date'] = pd.to_datetime(last_review['last_review'], errors = 'coerce', infer_datetime_format = True)
last_review.head()

              host_name   last_review       date
listing_id
2595           Jennifer   May 21 2019 2019-05-21
3831        LisaRoxanne  July 05 2019 2019-07-05
5099              Chris  June 22 2019 2019-06-22
5178           Shunichi  June 24 2019 2019-06-24
5238                Ben  June 09 2019 2019-06-09

In [95]:
# find the earliest and most recent dates
earliest_review = last_review['date'].min().strftime('%Y-%m-%d')
latest_review = last_review['date'].max().strftime('%Y-%m-%d')

print(f'The earliest review date was {earliest_review} and the most recent review date was {latest_review}')

The earliest review date was 2019-01-01 and the most recent review date was 2019-07-09

**Q2. How many of the listings are private rooms? Save this into any variable.**

In [96]:
# view airbnb room types
airbnb_room_type.head()

                                          description        room_type
listing_id
2595                            Skylit Midtown Castle  Entire home/apt
3831                  Cozy Entire Floor of Brownstone  Entire home/apt
5099        Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
5178                  Large Furnished Room Near B'way     private room
5238               Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [97]:
# make a copy and view the unique room types
room_type = airbnb_room_type.copy()

room_type['room_type'].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

We clearly see the room types have formatting issues with capitalisation, fix it then recheck

In [98]:
# Fix the errors
room_type['room_type'] = room_type['room_type'].str.lower()

# review the changes
room_type['room_type'].unique()

array(['entire home/apt', 'private room', 'shared room'], dtype=object)

In [99]:
# get the number of private listings
room_type['room_type'].value_counts().values

array([13266, 11356,   587])

In [100]:
# save it to a variable
private_rooms = room_type['room_type'].value_counts().values[1]

print(f'The number of listings that are private rooms are {private_rooms}')

The number of listings that are private rooms are 11356

**Q3. What is the average listing price? Round to the nearest two decimal places and save into a variable.**

In [101]:
# view prices data
airbnb_price.head()

                  price                nbhood_full
listing_id
2595        225 dollars         Manhattan, Midtown
3831         89 dollars     Brooklyn, Clinton Hill
5099        200 dollars     Manhattan, Murray Hill
5178         79 dollars  Manhattan, Hell's Kitchen
5238        150 dollars       Manhattan, Chinatown

In [102]:
# make copy 
price = airbnb_price.copy()

# check dtypes
price.dtypes

price          object
nbhood_full    object
dtype: object

In [103]:
# clean the dtype for price
price['price'] = price['price'].replace(to_replace = r' dollars', value = '', regex = True).str.strip()
price['price'] = price['price'].astype('int')

price.dtypes

price           int64
nbhood_full    object
dtype: object

In [104]:
# find the average
average_listing_price = round(price['price'].mean(), 2)

print(f'The average listing price is $ {average_listing_price}')

The average listing price is $ 141.78

**Q5. Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.**

In [105]:
# make the dict to hold the df values
review_dict = {'first_reviewed' : [pd.to_datetime(earliest_review)], 'last_reviewed' : [pd.to_datetime(latest_review)],
              'nb_private_rooms' : [private_rooms], 'avg_price' : [average_listing_price]}

# make a df
review_dates = pd.DataFrame(review_dict)

# view df
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78